{
  "version":"2017-02-28",
  "operation":"GET",
  "path":"/_search",
  "params":{
    "body": {
      "size": 0,
      "query": {
        "bool": {
          "must": [
            { "match": { "typeName": "REVIEW" } },
            { "match": { "locationId": "$context.source.id" } }
          ]
        }
      },
      "aggs": {
        "avg_rating": { "avg": { "field": "rating" } }
      }
    }
  }
}
