#set($result = { items: [] })
#foreach($entry in $context.result.hits.hits)
  $util.qr($result.items.add($entry.get("_source")))
#end

#set($first = $util.defaultIfNullOrBlank($context.args.paging.nextToken, 0))
#set($last = $first + $result.items.size())
#if($context.result.hits.total > $last)
    $util.qr($result.put("nextToken", $last))
#end

$util.toJson($result)
